

canvas {
    width: 100%;
    margin-bottom: -3pt;
}

.functionHr {
    margin-top: 0;
    border: none;
    border-top: 2pt solid var(--grid-color);
}

.functionLabel {
    color: var(--grid-color);
    font-family: "Cambria Math", "Georgia", "Times", serif;
    font-size: 24pt;
    font-style: italic;
    margin-right: 0.75rem;
    border: none;
}

.functionOptions {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    border: none;
    width: 10rem;
    font-family: "Helvetica", "Roboto", sans-serif; 
    font-size: 12pt;
    margin-left: 1rem;
}

#canvasContainer {
    position: relative;
    display: inline-block;
}

.legend {
   }

.legendItem {
}

.legendItem, 
.legendItem * {
}

.color-box {
}

.custom-checkbox {
}

.custom-checkbox input {
}

.checkmark {
}


table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1.6rem;
}

td, th {
    padding: 0.3rem 2rem;
    text-align: left;
    color: var(--text-color);
}

th {
    font-size: 14pt;
    font-family: "Helvetica", "Roboto", sans-serif; 
    text-align: center;
}

.funcSyntax {
    font-size: 12pt;
    font-family: "Cambria Math", "Georgia", "Times", serif;
    color: var(--text-color);
}

.funcName {
    font-size: 12pt;
    font-family: "Helvetica", "Roboto", sans-serif; 
    color: var(--text-color);
}

footer {
    font-family: "Helvetica", "Roboto", sans-serif; 
    color: var(--text-color);
    font-size: 12pt;
    padding: 1rem;
}
